<h2>Products</h2>

<div *ngFor="let product of products; index as productId">

  <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
    {{ product.name }}
  </a>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  <button (click)="share()">
    Share
  </button>
<!--  здесь в компонеенте app-product-alerts по условию появится кнопка, и когда она будет нажата, элемент notify
  (который является EventEmitter) излучит событие (просто notify.emit()). Когда событие излучится, сработает
  метод onNotify(), который выведет alert -->
  <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>

<button [routerLink]="'/medium'" [title]="mediumButton">medium learn</button>
